.content_wrapper {
  padding: 10px;
  max-width: 1080px;
  margin: 0px auto;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 5px;
  margin-bottom: 10px;
  .fields {
    width: 100%;
  }
}

.input_field {
  display: block;
  flex-direction: column;
  p {
    font-size: 12px;
  }
  input,
  select {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 14.5px;
    &:hover {
      cursor: pointer;
      background-color: #e3e3e3;
    }
  }
  .value {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    &.add {
      background-color: #e9f1ea;
    }
    &.subtract {
      background-color: #f1e9e9;
    }
  }
}

.tab_wrapper {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 10px;
  button {
    padding: 10px;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    &.active {
      background-color: #212121;
      color: white;
    }
  }
}

.example {
  padding: 15px 0px;
  .input_one {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  .input_two {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
}
