<div class="header_wrapper">
  <h3> Stock Calculator</h3>
</div>

<div class="tab_wrapper">
  @for(option of calculatorType;track $index){
  <button [class]="activeIndex === $index ? 'active':''" (click)=" activeIndex = $index">{{option}}</button>
  }
</div>
@switch (activeIndex) {
@case (0) {
<app-percentage-method></app-percentage-method>
}
@case (1) {
<app-toggle-action></app-toggle-action>
}
@case (2) {
<app-dynamic-value-change></app-dynamic-value-change>
}
@default {
<app-percentage-method></app-percentage-method>
}
}