<div class="content_wrapper">
    <h4>Precentage method</h4>
    <br>
    <form [formGroup]="myForm">
        <div class="parent">
            <div class="input_field">
                <p>Amount</p>
                <input class="fields " type="number" formControlName="amount" placeholder="0" />
            </div>
            <div class="input_field">
                <p>Percentage %</p>
                <input class="fields " type="number" formControlName="percentage" placeholder="0" />
            </div>
            <div class="input_field">
                <p>No of shares</p>
                <input class="fields " type="number" formControlName="shares" placeholder="0" />
            </div>
        </div>
    </form>
    <div class="parent">
        <div class="input_field">
            <p>Difference</p>
            <div class="fields value">
                {{ calculatedPercentageDifference() | number:'1.2-2' }}
            </div>
        </div>
        <div class="input_field">
            <p>Amount + Difference</p>
            <div class="fields value add">
                {{ precentageAmountAddedToAmount() | number:'1.2-2' }}
            </div>
        </div>
        <div class="input_field">
            <p>Amount - Difference</p>
            <div class="fields value subtract">
                {{ precentageAmountRemovedFromAmount() | number:'1.2-2' }}
            </div>
        </div>
    </div>

    <div class="parent">
        <div class="input_field">
            <p>No of shares</p>
            <div class="fields value">
                {{ noOfShares() }}
            </div>
        </div>
        <div class="input_field">
            <p>Profit/Loss</p>
            <div class="fields value">
                {{ profitDifference() | number:'1.2-2' }}
            </div>
        </div>
    </div>
</div>